html, body{
    font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.you-donate-we-help {
    background-color: #000000;
    background-image: url("images/youdonate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.who-we-are {
    text-align: center;
    background-color: #5d6d7c;
}

.our-mentors {
background-color: #B9BABD;
text-align: center;
font-size: 2vmax;
}

.button {
    background-color: #000000;
    color: #666666;
    font-size: 2vmax;
    padding: 2vmin 3vmin;
}

.sign-up {
    background-color: #B9BABD;
    text-align: center;
    font-size: 2vmax;
}