html,
body {
    font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #FAE904;
    font-weight: bold;
    color: black;
}

.you-donate-we-help {
    background-color: #000000;
    background-image: url("images/youdonate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    text-align: center;
    color: #FAE904;
    text-shadow: 3px 3px 2px #000;
    font-weight: bold;
}

.who-we-are {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #5d6d7c;
}

.our-mentors {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px;
    background-color: #B9BABD;
    text-align: center;
    font-size: 2vmax;
}

.button {
    background-color: black;
    border: 2px solid black;
    color: #F2EFE2;
    text-decoration: none;
    font-size: 2vmax;
    padding: 2vmin 3vmin;
}

.button:hover {
    background-color: rgb(44, 44, 44);
    border: 2px solid rgb(44, 44, 44);
    color: #ffffff;
    text-decoration: none;
    font-size: 2vmax;
    padding: 2vmin 3vmin;
}

.sign-up {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px;
    background-color: #B9BABD;
    text-align: center;
    font-size: 2vmax;
}

.sponsor-a-student {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #5d6d7c;
    color: #F2EFE2;
}


/*
.sponsor-a-student a:link {
    color: #F2EFE2;
    text-decoration: underline;
}

.sponsor-a-student a:visited {
    color: #F2EFE2;
    text-decoration: underline;
}

.sponsor-a-student a:hover {
    color: #e9c184;
    text-decoration: underline;
}

.sponsor-a-student a:active {
    color: #F2EFE2;
    text-decoration: underline;
}*/

.numbers {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #000000;
    text-align: center;
}

.testimonials {
    background: #E9CAB4;
    margin-bottom: 4vh;
}

.faqs {
    text-align: center;
    padding-top: 3vh;
    font-size: 2.3vh;
}

.faq_question {
    margin: 0vh 5vh;
    margin-bottom: 2vh;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 1.5vh;
    background: #5d6d7c;
    font-weight: lighter;
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: auto;
}

.faq_answer {
    color: #5d6d7c;
    margin: 0vh 3vh
}

.content {
    width: 95%;
    padding: 20px;
    margin: 0 auto;
}

.question {
    font-size: 20px;
    width: 100%;
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;
}

.answers {
    font-size: 20px;
    background: black;
    color: #5d6d7c;
    padding: 0px 15px;
    margin: 5px 0;
    max-height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
}

.questions:checked~.answers {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
}

.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-item {
    margin: auto;
}

.slideshow {
    display: none;
    max-width: 1000vh;
    position: relative;
    margin: auto;
}

.numbertext {
    color: #ffffff;
    font-size: 12vmax;
    position: absolute;
    top: 0;
}

.text {
    color: #ffffff;
    font-size: 15vmax;
    position: absolute;
    bottom: 8vmax;
    width: 100%;
    text-align: center;
}

.testimonials {
    height: 600px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.partnerships {
    background: #E9CAB4;
}

.footer {
    padding-top: 10px;
    background-color: #FAE904;
}

.footer .grid-container {
    width: 20%;
    margin: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.fa:hover {
    text-decoration: none;
}

.copyright {
    background: #000000;
    text-align: center;
    color: #ffffff;
}

.resources {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #5d6d7c;
    color: #F2EFE2;
}

.organizations {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #5d6d7c;
    color: #F2EFE2;
}

.imageGrid {
    line-height: 0;
    margin: auto;
    width: 80%
}

.imageGrid .tile {
    width: 26.6%;
    min-height: 20em;
    line-height: 1.2;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    cursor: hand;
}

.imageGrid .tile:before {
    content: '';
    background-color: rgba(15, 15, 15, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.imageGrid .tile:hover:before {
    display: none;
}

.imageGrid .tile .textWrapper {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
    display: none;
}

.imageGrid .tile:hover .textWrapper .content {
    display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
    margin: 0;
}

@media (max-width: 1000px) {
    .imageGrid .tile {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .imageGrid .tile {
        width: 100%;
    }
}

.grid-container2 {
    display: grid;
    /* The magic: (All direct children of this div now automagically becomes grid items) */
    /* PS: Since we haven't declared how many grid columns we want, we now get one column per row by default which is what we want on mobile. We declare that we want more columns on wider screens futher down in the media-queries. */
    grid-gap: 1em;
    /* Some gap between the grid columns and rows*/
}

.img-fluid {
    /* Makes the size of the images in the grid fluid: */
    width: 100%;
    height: auto;
}

.content-wrapper {
    /* Just to center the content for later: (We'll constrain the width on larger screens futher down in the media queries.) */
    margin: 0 auto;
    padding: 1em;
}


/* Grid changes on medium sized screens: */

@media screen and (min-width: 500px) {
    .grid-container2 {
        /* Two equally sized colums, 1 fraction or "fr" each: */
        grid-template-columns: repeat(2, 1fr);
    }
    .content-wrapper {
        /* Just to wrap the content: */
        max-width: 75vw;
    }
}


/* Grid changes again on larger screens: */

@media screen and (min-width: 1000px) {
    .grid-container {
        /* Three equally sized colums, 1 fraction or "fr" each: */
        grid-template-columns: repeat(3, 1fr);
    }
    .content-wrapper {
        /* Again, just to wrap the content: */
        max-width: 50vw;
    }
}


/* Just for the looks... */